{% extends 'base.html' %}
{% block contents %}

<br><br>
<div class = "container">
        <br>
        <h3>방 등록</h3>
        <br><br>

    <form method="POST" action='' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br><br>

    <!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->
    <input type="text" name="post" class="postcodify_postcode5" style="width:200px; height:28px; letter-spacing: 5px" value="(우편번호)" />
    <button id="postcodify_search_button">검색</button><br />
    <input type="text" name="" class="postcodify_address" style="width:500px; height:28px; letter-spacing: 3px" value="(도로명주소)" /><br />
    <input type="text" name="" class="postcodify_extra_info" style="width:500px; height:28px; letter-spacing: 3px" value="(참고항목)" /><br />
    <input type="text" name="" class="postcodify_details" style="width:500px; height:28px; letter-spacing: 3px" value="(상세주소)" /><br />
    
    
    <!-- jQuery와 Postcodify를 로딩한다 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    
    <!-- "검색" 단추를 누르면 팝업 레이어가 열리도록 설정한다 -->
    <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>

<br><br>
            <input class="btn btn-dark" type="submit" value="제출하기">
    </form>

</div>

{% endblock %}