<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">RentRoom</a>
        <div class="d-flex align-items-center">
        <div class="dropdown pull-right d-lg-block ">
            <button aria-expanded="false" aria-haspopup="true" class="profile-dropdown-toggle" data-toggle="dropdown" type="button" style="color:white; background-color: white">
                <span class="thumbnail-wrapper d32 circular inline">
                    <img alt="" src="https://data.ac-illust.com/data/thumbnails/3e/3e6cdb3a5f7477f5a0dd059631654f28_t.jpeg" height="32" width="32">
                </span>
            </button>
            {% if user.is_authenticated %}
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a class="dropdown-item" href="#">my page</a>
                <a class="dropdown-item" href="{% url 'newroom' %}">방 등록하기</a>
                <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %} <input type="hidden" />
                </form>
            </div>
            {% else %}
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a class="dropdown-item" href="{% url 'signup' %}">회원가입</a>
                <a class="dropdown-item" href="{% url 'login' %}">로그인</a>
            </div>
            {% endif %}
        </div>
        </div>
    </nav>
</body>
</html>

{% block contents %}
{% endblock %}